@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face {
  font-family: 'cartridge-regular';
  src: url('./fonts/Cartridge-Regular.woff2') format('woff2');
}

:root {
  --headline-font: 'cartridge-regular', sans-serif;
  --text-color: #333;
  --white: #fff;
}

body {
  font-family: var(--headline-font);
  font-feature-settings: "ss01";
}

.container {
  align-items: center;
  background: url("./images/2089141.jpg") no-repeat center center;
  background-size: cover;
  background-color: #282c34;
  color: white;
  display: flex;
  font-size: calc(10px + 2vmin);
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.site-logo {
  display: block;
  margin-top: 3rem;
  width: 40vw;
}

h1 {
  font-family: var(--headline-font);
  font-size: 3rem;
  font-weight: 400;
}

.glossy {
  border-width: 0;
  display:inline-block;
  margin: 20px;
  font-size: 22px;
  font-family: var(--headline-font);
  color: white;
  text-shadow: 0px 1px 0px rgba(0, 0, 0,0.3);
  padding: 15px;
  border-radius: 10px;
  background-image: linear-gradient(rgba(255,255,255,0.3) 50%, rgba(255,255,255,0.0) 51%), linear-gradient(#9b59b6, #8e44ad);
  text-transform: uppercase;
  font-feature-settings: "ss03";
  text-shadow: 1px 2px 0px #333;
}

.glossy:hover {
  box-shadow: 0 0 18px rgba(255,255,255, 0.3);
}

// .btn-control--play {
//   background-color: #B356B3;
//   border-radius: 5px;
//   color: white;
//   font-weight: bold;
//   margin: 36px;
//   padding: .5em 2em;
//   position: relative;
//   text-align: center;
//   text-decoration: none;
//   text-shadow: 0 1px 1px #444;
//   z-index: 1;
// }

// .btn-control--play:before {
//   content: "";
//   display: block;
//   background-color: #B356B3;
//   position: absolute;
//   top: -5px;
//   left: -5px;
//   bottom: -5px;
//   right: -5px;
//   z-index: -1;
//   border-radius: 10px;
//   background-image: linear-gradient(to bottom, #d872d8 0%, #974897 40%);
//   box-shadow: 0px -1px 2px 0 #065881 inset,
//               0px 1px 1px 1px #ccc,
//               0 0 0 6px #fff,
//               0 2px 12px 8px #ddd;
// }

// .btn-control--play:active {
//   background-color: #fff;
// }

// .btn-control--play:active:before {
//   background-color: rgba(255,255,255,.5);
//   background-image: none;
//   box-shadow: 0px 1px 2px 0 #444 inset,
//               0 0 0 6px #fff,
//               0 2px 12px 8px #ddd;
// }

// .btn-control--play:hover {
//   background: #974897;
// }​

// .btn-control--play:hover:before {
//   background-image: linear-gradient(to bottom, #4FBEEB 0%, #0082C6 40%);
// }

.App-link {
  color: #61dafb;
}

.audio-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(10px, 30%));
  justify-content: center;
  width: 100%;
}

.audio-player {
  display: flex;
  flex-direction: column;
  /* align-content: flex-start; */
  justify-content: flex-end;
  align-items: center;
}

.audio-player__icon {
  opacity: 80%;
  /* width: 50%; */
  max-height: 200px;
  max-width: 200px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}