@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face {
  font-family: 'cartridge-regular';
  src: url('./fonts/Cartridge-Regular.woff2') format('woff2');
}

:root {
  --headline-font: 'cartridge-regular', sans-serif;
}

body {
  font-family: var(--headline-font);
  font-feature-settings: "ss01";
}

.container {
  align-items: center;
  background: url("./images/2089141.jpg") no-repeat center center;
  background-size: cover;
  background-color: #282c34;
  color: white;
  display: flex;
  font-size: calc(10px + 2vmin);
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.site-logo {
  display: block;
  margin-top: 3rem;
  width: 40vw;
}

h1 {
  font-family: var(--headline-font);
  font-size: 3rem;
  font-weight: 400;
}

.App-link {
  color: #61dafb;
}

.audio-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(10px, 30%));
  justify-content: center;
  width: 100%;
}

.audio-player {
  display: flex;
  flex-direction: column;
  /* align-content: flex-start; */
  justify-content: flex-end;
  align-items: center;
}

.audio-player__icon {
  opacity: 80%;
  /* width: 50%; */
  max-height: 200px;
  max-width: 200px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}